.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.header__container{
    text-align: center;
    padding-top: 100px;
}

.main{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main__img {
    margin-top: 30px;
    text-align: left;
}

.main__picture{
    max-width: 100%;
}

.main__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Space Grotesk', sans-serif;
}

.btn-sitio {
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 12px;
    padding: 10px 30px;
    margin-bottom: 30px;
    font-family: 'Space Grotesk', sans-serif;
    border-color: #ffae00;
}

.btn {
    outline: none;
    text-decoration: none;
    color: #000;
}

.fab {
    color: rgb(41, 97, 122);
    margin-right: 20px;
    font-size: 40px;
}